body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, p, ul, li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

ul.header li {
  display: inline;
  list-style-type: none;
}

form{
  border: 5px solid #dedede;
  flex-direction: column;
  padding: 30px 30px;
  background-color:powderblue;
}

.form-div input, select{
  margin: 5px;
  
} 


